@using Syncfusion.Blazor.Cards
@using CourseCompanion.Shared.Model
@namespace CourseCompanion.Shared.CourseCards

<div style="scroll-padding-top: 1rem; padding-bottom: 1rem; margin:0.7rem; position:relative">
    <div class="plus-btn">+</div>
    <div class="e-card">
        <SfCard @key="Course.Id">
            <span class="right" style="padding-right:1rem">@Course.Semester</span>
            <div class="e-card-header">
                @Course.Id
            </div>
            <Collapsable Title="@Course.Title" Collapsed="true">
                <div class="card-content">
                    <p style="background-color:antiquewhite; line-height:1.2rem">
                        <b>Description:</b> @Course.Description<br>
                        <b>Instructor:</b> @Course.Instructor<br>
                        <b>Prerequisite(s):</b> @Course.Prerequisites <br>
                        <b>Antirequisite(s):</b> @Course.Antirequisites<br>
                        <b>Credits:</b> @Course.Credits
                    </p>
                </div>
            </Collapsable>
        </SfCard>
    </div>
</div>

@code {
    [Parameter]
    public CourseDetails Course { get; set; }

}

