@using Syncfusion.Blazor.Cards
@using Microsoft.AspNetCore.Components
@using CourseCompanion.Shared.Model
@namespace CourseCompanion.Shared.CourseCards
@inject HttpClient Http

<div style="scroll-padding-top: 1rem; padding-bottom: 1rem; margin:0.7rem; position:relative">
    <button class="plus-btn" @onclick="AddCourse">+</button>
    <div class="e-card" style="background-color:@CardColor(@Course.Semester)">
        <SfCard @key="Course.Id">
            <span class="right" style="padding-right:1rem">@Course.Semester</span>
            <div class="e-card-header">
                @Course.Id
            </div>
            <Collapsable Title="@Course.Title" Collapsed="true" BgColor="@CardColor(@Course.Semester)">
                <div class="card-content" style="background-color:@CardColor(@Course.Semester)">

                    <p class="p-card-content">
                        <b>Description:</b> @Course.Description<br>
                        <b>Instructor:</b> @Course.Instructor<br>
                        <b>Prerequisite(s):</b> @Course.Prerequisites <br>
                        <b>Antirequisite(s):</b> @Course.Antirequisites<br>
                        <b>Credits:</b> @Course.Credits
                    </p>
                </div>
            </Collapsable>
        </SfCard>
    </div>
</div>

@code {
    [Parameter]
    public CourseDetails? Course { get; set; }

    private string? CardColor(string semester)
    {

        @if (semester.Contains("Fall")) { return "lightcyan"; }
        if (semester.Contains("Winter")) { return "cornsilk"; }
        if (semester.Contains("Spring")) { return "thistle"; }
        if (semester.Contains("Summer")) { return "lightsalmon"; }
        else { return "antiquewhite"; }

    }

    private void AddCourse() {
        @* communicate with <Semester /> *@
        @* such that it passes the course to Planner, then planner is going to 
        pass to Semester.registeredCourses *@
        Console.WriteLine("AddCourse()....");
    }

}

