@inherits LayoutComponentBase

<style>
    #Ben2{
    
    }
    #Benjamin {
        
    }
</style>


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
      
        <div id ="Benjamin"class="top-row px-2 dl-horizontal">
            <p><b>Course Companion</b><br /> Benjamin Z, CPSC</p>
        </div>

        <div id="classBar" class="progress position-static top-10">

            @{
                var totalClasses = 7;
                var GreenVal = 21;
                var GreenWidth = $"{(GreenVal / 120.0) * 100}%";
                var YellowVal = totalClasses * 3;
                var YellowWidth = $"{(YellowVal / 120.0) * 100}%";
            }

            <div class="progress-bar bg-success" role="progressbar" style="width: @GreenWidth" aria-valuenow="@GreenVal" aria-valuemin="0" aria-valuemax="100">@GreenWidth</div>
            <div class="progress-bar bg-warning" role="progressbar" style="width: @YellowWidth" aria-valuenow="@YellowVal" aria-valuemin="0" aria-valuemax="100">@YellowWidth</div>
        </div>
       
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

