@inherits LayoutComponentBase

@using CourseCompanion.Shared.State
@using CourseCompanion.Shared.Services

@inject StateContainer State
@inject ICourseService CourseService


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
      
        <div style="width:101%" id="Benjamin" class="top-row px-2 dl-horizontal">


        <div id="classBar" style="position:relative; left: 300px; width:700px;" class="progress position-static top-10">

            @{
                var totalClasses = State.fall_TotalCredits + State.winter_TotalCredits + State.spring_TotalCredits + State.summer_TotalCredits;
                var GreenVal = 15;
                var GreenWidth = $"{(GreenVal / 120.0) * 100}%";
                var YellowVal = totalClasses;
                var YellowWidth = $"{(YellowVal / 120.0) * 100}%";
            }

            <div class="progress-bar bg-success" role="progressbar" style="width: @GreenWidth" aria-valuenow="@GreenVal" aria-valuemin="0" aria-valuemax="100">@GreenWidth</div>
            <div class="progress-bar bg-warning" role="progressbar" style="width: @YellowWidth" aria-valuenow="@YellowVal" aria-valuemin="0" aria-valuemax="100">@YellowWidth</div>

        </div>
            <button type="button" class="btn btn-warning btn-outline-light text-center" style="width:fit-content; margin-left: 3rem" data-bs-toggle="modal" data-bs-target="#degreeReqModal">View Degree Requirements</button>

            <p style="margin-left:10px;margin-top:15px;text-align:right; width:200px"><b style="font-size:120%">Course Companion</b><br /> Benjamin Z, CPSC</p>

        </div>
       
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code{
    protected override void OnInitialized()
    {
        // subscribe to OnCourseEvent
        CourseService.OnCourseEvent += CourseHandler;
    }

    private void CourseHandler()
    {
        StateHasChanged();
    }

}

