@using Syncfusion.Blazor.Cards
@using Microsoft.AspNetCore.Components
@using CourseCompanion.Shared.Model
@using CourseCompanion.Shared.Services
@namespace CourseCompanion.Shared.CourseCards

@inject HttpClient Http
@inject ICourseService CourseService

<div class="e-card" style="background-color:@CardColor(@Course.Semester)">
    <SfCard @bind-courseKey="@Course">
        <button class="plus-btn" @onclick="SendCourse">+</button>
        <span class="right" style="padding-right:1rem">@Course.Semester</span>
        <div class="e-card-header">
            @Course.Id
        </div>
        <Collapsable Title="@Course.Title" Collapsed="true" BgColor="@CardColor(@Course.Semester)">
            <div class="card-content" style="background-color:@CardColor(@Course.Semester)">

                <p class="p-card-content">
                    <b>Description:</b> @Course.Description<br>
                    <b>Instructor:</b> @Course.Instructor<br>
                    <b>Prerequisite(s):</b> @Course.Prerequisites <br>
                    <b>Antirequisite(s):</b> @Course.Antirequisites<br>
                    <b>Credits:</b> @Course.Credits
                </p>
            </div>
        </Collapsable>
    </SfCard>
</div>

@code {
    [Parameter]
    public CourseDetails? Course { get; set; }

    private string? CardColor(string semester)
    {

        if (semester.Contains("Fall")) { return "lightcyan"; }
        if (semester.Contains("Winter")) { return "cornsilk"; }
        if (semester.Contains("Spring")) { return "thistle"; }
        if (semester.Contains("Summer")) { return "lightsalmon"; }
        else { return "antiquewhite"; }

    }

    // send the added course
    private void SendCourse()
    {
        CourseService.SendCourse(Course);

    }

    private void RemoveCourse()
    {
        CourseService.RemoveCourse(Course);
    }
}